* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    font-size: 26px;
}

.menu-toggle, footer {
    color: #D88D74;
}

.about {
    padding: 30% 10% 0px;
    height: 100vh;
}

.projects {
    background-color: rgb(232, 230, 230);
    padding: 20px 10%;
    width: 100vw;
    min-height: 100vh;
}

footer {
    min-height: 100px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
}

nav, footer {
    padding: 3%;
    background-color: #121212;
}

.p-title {
    margin: 0;
    font-size: 22px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    float: right;
}

.p-item ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

li {
    display: inline;
}

nav p {
    float: left;
    color: white;
    margin: 0px;
}

.main-menu a {
    font-size: 18px;
    color: #D88D74;
    text-decoration: none;
}

.main-menu li {
    padding: 10px;
}

.main-menu ul {
    text-align: right;
}

.about h1 {
    font-family: 'Muli', sans-serif;
    font-size: 70px;
    margin-bottom: 0px;
}

.about p, .p-item p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px
}

.p-item ul {
    padding-bottom: 70px;
}

.p-item a {
    color: rgb(224, 112, 77);
}

.projects h2 {
    font-family: 'Muli', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.p-item img {
    border-radius: 4px;
    max-width: 100%;
    height: auto;
}

.f-email {
    color: #D88D74;
}


footer a {
    color: rgb(232, 230, 230);
    text-decoration: none;
}

a:hover {
    color: rgb(235, 173, 16);  
}


@media screen and (min-width: 700px) {
    nav {
        padding: 13px;
    }

    .about {
        padding: 20% 10%;
    }

    .projects {
        overflow: auto;
        padding: 40px 10%;
    }

    .p-item {
        clear: left;
    }

    .projects h2 {
        margin: 0px;
    }

    .p-item img {
        width: 425px;
        float: left;
        padding-bottom: 60px;
        padding-right: 10px;
    }

    .p-item p {
        padding-top: 5px;
    }

    .p-item ul {
        text-align: left;
    }

    .main-menu a {
        font-size: 22px;
    }


  }